* {
  padding: 0;
  margin: 0;
}
.heading {
  color: pink;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  // background-color: blue;
}
.logoImg {
  width: 40%;
}
.link {
  color: red;
  display: flex;
  gap: 42px;
  @media (max-width: 600px) {
    display: none;
  }
}
.left-part {
  display: flex;
  align-items: center;
  gap: 10px;
  //background-color: pink;
}
.headerContainer {
  box-shadow: 0 0px 5px 5px rgba($color: #000000, $alpha: 0.2);
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  margin-bottom: 10px;
}
.right-part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart {
  background-color: rgb(219, 214, 214);
  margin-top: 10px;
  padding: 5px 20px 5px 10px;
  display: flex;
  align-items: center;
}
.cartImage {
  height: 30px;
  width: 30px;
}
