.mainContainer {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
}
.content {
  margin-left: 20%;
  @media (max-width: 900px) {
    margin-left: 0;
  }
}
.sideNavigation {
  height: 70%;
  width: 20%;
  position: fixed;
  bottom: 10%;
  left: 5%;
  background-color: #111;
  overflow-x: hidden;
  background-color: rgb(231, 228, 228);
  @media (max-width: 900px) {
    display: none;
  }
}
.topnavigation {
  position: fixed;
  top: 85px;
  display: none;
  @media (max-width: 900px) {
    display: block;
    width: 90%;
    background-color: blue;
  }
}
