.mainContainer {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
}
.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
.sideNavigation {
  background-color: rgb(231, 228, 228);
}
